<a
  href="{{ href }}"
  page="{{ page }}"
  class="link-as-button
  {{#if variant}}link-as-button_variant-{{ variant }}{{/if}}
  {{#if variant}}link-as-button_size-{{ size }}{{/if}}
  {{#if className}}{{ className }}{{/if}}"
>
  {{> @partial-block}}
</a>
