<div class="input {{#if wrapperClass}}{{ wrapperClass }}{{/if}}">
  <label class="input__label {{#if labelClass}}{{ labelClass }}{{/if}}">
    {{#if labelText}}
    <span class="input__label-text {{#if labelClass}}{{ labelTextClass }}{{/if}}">{{ labelText }}</span>
    {{/if}}

    <input
      class="input__input {{#if inputClass}}{{ inputClass }}{{/if}}"
      name="{{ name }}"
      type="{{ type }}"
      value="{{#if value}}{{ value }}{{/if}}"
      {{#if disabled}}disabled{{/if}}
      {{#if required}}required{{/if}}
    />
  </label>

  {{#if errorMessage}}
  <p class="input__error-message">{{ errorMessage }}</p>
  {{/if}}
</div>
